# Don't check in OS artifacts.
**/.DS_Store

# Don't check in secrets.
**.secret.yaml

# Don't check in non-example inventory.
ansible/inventory/**.yaml
ansible/inventory/**.yml

# Don't check in local secrets
ansible/playbooks/files/ssh-pubkeys.pub

# Don't check in local dev assets.
notes/**
**/*.env
local-test/nginx-root/content/**
