services:
  {{ kiwix_service }}:
    image: "{{ kiwix_image }}:{{ kiwix_tag }}"
    container_name: {{ kiwix_service }}
    restart: unless-stopped
    environment:
      - THREADS=2
    command: "-r /{{ kiwix_path }}/ *.zim"
    volumes:
      - ./nginx-root/{{ content_path }}/{{ active_wiki_path }}:/data:ro
    develop:
      watch:
        - action: sync+restart
          path: ./nginx-root/{{ content_path }}/{{ active_wiki_path }}
          target: /data
    expose:
      - "{{ kiwix_port }}"
  {{ nginx_service }}:
    image: "{{ nginx_image }}:{{ nginx_tag }}"
    container_name: nginx
    restart: unless-stopped
    volumes:
      - ./config/nginx-default.conf:/etc/nginx/conf.d/default.conf
      - type: bind
        source: ./nginx-root
        target: /usr/share/nginx/html
        read_only: true
    develop:
      watch:
        - action: sync+restart
          path: ./config/nginx-default.conf
          target: /etc/nginx/conf.d/default.conf
    ports:
      - "{{ listen_host }}:{{ external_web_port }}:{{ nginx_port }}"
    sysctls:
      - net.ipv4.ip_unprivileged_port_start=0
